<div class="top">

<div class="container">
<% if user_signed_in? %>
    	    <h4>ようこそ<%= link_to mypage_users_path do %>
    	     <%= current_user.name %>
  	     <% end %>
        さん</h4>
<% end %>

<%= render "layouts/post_index" %>

</div>