<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="container">
	<h4>
		ようこそ<a herf="users/mypage"></a>さん
	</h4>
	<div class="row center-block">
		<div class="card" style="width: 22rem;">
  			<div class="card-body">
				<h4 class="card-title">ようこそSuicomへ。</h4>
				<p class="card-text"></p>
				<a href="#/users/mypage" class="btn btn-primary">マイページ</a>
 		    </div>
		</div>

	</div>
</div>