// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
 position: relative;
}

.top {
	background-size: 1400px;
	width: auto;
	height: 1500px;
}