// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_background {
	background-color: #000;
	background-size: 1500px;
	width: auto;
	height: 1200px;
}
